.ion-card-container{
   
    display: flex;
    justify-content: center;
}

.ion-card-style{
    width: 500px;
}

.title{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}